@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@300&display=swap');

:root {
	/* fonts */
	--font: "Raleway", Arial, 'Quicksand';
	--font-color-01: #e4e4e4;
	--font-color-02: #bfbfbf;
	/* color pallet */
	--background-color-1: #0101017a;
	--background-color-2: #681b1b;

	--background-transparent: rgba(255, 255, 255, 0.85);
	--background-contrast-color-01: #ff931e;
	/* size */
	--max-width: 1280px;
	--min-width: 365px;
	--gap: 10px;
	--radius: 4px;
	/* others */
	--line-divider-color: rgb(77, 77, 77);
}

html {
	background-color: var(--background-color-1);
	font-family: var(--font);
	color: var(--font-color-01);
}

body {
	min-width: var(--min-width);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

/* ****** */
/* HEADER */
/* ****** */

header .title-background img:first-of-type {
	border-radius: 3px;
	padding: calc(var(--gap) / 2);
	background-color: white;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.title-background,
.menu-background {
	background-color: var(--background-transparent);
	border-radius: 4px;
	margin: var(--gap);
	padding: calc(var(--gap) * 2) var(--gap);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: calc(var(--gap) * 2);
}

header .title-background h1 {
	color: var(--background-color-2);
}

.menu-background {
	background-color: var(--background-color-2);
	padding: 0;
}

nav ul {
	width: 100%;
}

nav li:hover a {
	transition: 0.35s;
	background-color: var(--background-contrast-color-01);
	color: var(--background-color-1);
}

/* **** */
/* MAIN */
/* **** */

main {
	padding: var(--gap);
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--gap);
	max-width: var(--max-width);
	margin: 0 auto;
}

main h2 {
	width: 100%;
	text-align: center;
}

main hr {
	width: 100%;
	border-color: var(--line-divider-color);
}

main section {
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;
}

.card-header {
	background-color: var(--background-transparent);
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius) var(--radius) 0px 0px;
	color: var(--background-color-1);
}

.card-body {
	border: 1px solid var(--line-divider-color);
	border-radius: 0px 0px var(--radius) var(--radius);
	border-top: none;
}

main section ul,
nav ul {
	padding: 0;
	margin: 0;
}

main section li,
nav ul li {
	list-style: none;
	background-color: var(--background-color-2);
	margin: 2px 0;
}

main section li:hover {
	transition: 0.35s;
	color: var(--background-color-2);
	background-color: var(--background-transparent);
}

main section li a,
nav li a {
	display: flex;
	align-items: center;
	height: 65px;
	text-decoration: none;
	padding: 1px;
	color: var(--background-contrast-color-01);
}

/* header nav override */
nav li a {
	height: 30px;
}
/*  */

main section:last-of-type li a,
nav li a {
	justify-content: center;
}

main section li:hover span {
	color: var(--background-color-1);
}

main section h4,
nav h4 {
	margin: 0 var(--gap);
}

main section span {
	font-weight: 100;
	color: var(--font-color-01);
}

/* ****** */
/* FOOTER */
/* ****** */

.footer-background {
	color: var(--font-color-02);
	background-color: var(--background-color-2);
	border-radius: 4px;
	margin: var(--gap);
	padding: calc(var(--gap) * 2) var(--gap);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--gap);
}

footer span img {
	margin: 0 0 -6px 4px;
}

footer p {
	font-size: 0.85rem;
=======
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@300&display=swap');

:root {
	/* fonts */
	--font: "Raleway", Arial, 'Quicksand';
	--font-color-01: #e4e4e4;
	--font-color-02: #bfbfbf;
	/* color pallet */
	--background-color-1: #0101017a;
	--background-color-2: #681b1b;

	--background-transparent: rgba(255, 255, 255, 0.85);
	--background-contrast-color-01: #ff931e;
	/* size */
	--max-width: 1280px;
	--min-width: 365px;
	--gap: 10px;
	--radius: 4px;
	/* others */
	--line-divider-color: rgb(77, 77, 77);
}

html {
	background-color: var(--background-color-1);
	font-family: var(--font);
	color: var(--font-color-01);
}

body {
	min-width: var(--min-width);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

/* ****** */
/* HEADER */
/* ****** */

header .title-background img:first-of-type {
	border-radius: 3px;
	padding: calc(var(--gap) / 2);
	background-color: white;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.title-background,
.menu-background {
	background-color: var(--background-transparent);
	border-radius: 4px;
	margin: var(--gap);
	padding: calc(var(--gap) * 2) var(--gap);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: calc(var(--gap) * 2);
}

header .title-background h1 {
	color: var(--background-color-2);
}

.menu-background {
	background-color: var(--background-color-2);
	padding: 0;
}

nav ul {
	width: 100%;
}

nav li:hover a {
	transition: 0.35s;
	background-color: var(--background-contrast-color-01);
	color: var(--background-color-1);
}

/* **** */
/* MAIN */
/* **** */

main {
	padding: var(--gap);
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--gap);
	max-width: var(--max-width);
	margin: 0 auto;
}

main h2 {
	width: 100%;
	text-align: center;
}

main hr {
	width: 100%;
	border-color: var(--line-divider-color);
}

main section {
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;
}

.card-header {
	background-color: var(--background-transparent);
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius) var(--radius) 0px 0px;
	color: var(--background-color-1);
}

.card-body {
	border: 1px solid var(--line-divider-color);
	border-radius: 0px 0px var(--radius) var(--radius);
	border-top: none;
}

main section ul,
nav ul {
	padding: 0;
	margin: 0;
}

main section li,
nav ul li {
	list-style: none;
	background-color: var(--background-color-2);
	margin: 2px 0;
}

main section li:hover {
	transition: 0.35s;
	color: var(--background-color-2);
	background-color: var(--background-transparent);
}

main section li a,
nav li a {
	display: flex;
	align-items: center;
	height: 65px;
	text-decoration: none;
	padding: 1px;
	color: var(--background-contrast-color-01);
}

/* header nav override */
nav li a {
	height: 30px;
}
/*  */

main section:last-of-type li a,
nav li a {
	justify-content: center;
}

main section li:hover span {
	color: var(--background-color-1);
}

main section h4,
nav h4 {
	margin: 0 var(--gap);
}

main section span {
	font-weight: 100;
	color: var(--font-color-01);
}

/* ****** */
/* FOOTER */
/* ****** */

.footer-background {
	color: var(--font-color-02);
	background-color: var(--background-color-2);
	border-radius: 4px;
	margin: var(--gap);
	padding: calc(var(--gap) * 2) var(--gap);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--gap);
}

footer span img {
	margin: 0 0 -6px 4px;
}

footer p {
	font-size: 0.85rem;
}