img {
    width: 100%;
}
body {
    background-color: grey;
}
#desk-img, #person-img, #graphic-img {

    width: 20%;
    margin: 5%;
    border-radius: 65% ;
    border: 10px solid rgb(65 65 65);
    margin-top: 40px;
    margin-bottom: 40px;

}

#desk-img {
    margin-left: 130px;

}
#person-img {
    margin-left: 45px;

}
#graphic-img {
    margin-left: 45px;

}